// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: "GraphikLCG Light";
  font-weight: 300;
  src: url("../fonts/GraphikLCG-Light.woff"); }

@font-face {
  font-family: "GraphikLCG Regular";
  font-weight: 400;
  src: url("../fonts/GraphikLCG-Regular.woff"); }

@font-face {
  font-family: "GraphikLCG Medium";
  font-weight: 500;
  src: url("../fonts/GraphikLCG-Medium.woff"); }

@font-face {
  font-family: "GraphikLCG Medium";
  font-weight: 600;
  src: url("../fonts/GraphikLCG-Medium.woff"); }

@font-face {
  font-family: "GraphikLCG Bold";
  font-weight: 700;
  src: url("../fonts/GraphikLCG-Bold.woff"); }

@font-face {
  font-family: "GraphikLCG Black";
  font-weight: 800;
  src: url("../fonts/GraphikLCG-Black.woff"); }


/*Woff version 2*/
@font-face {
  font-family: "GraphikLCG Light";
  font-weight: 300;
  src: url("../fonts/GraphikLCG-Light.woff2"); }

@font-face {
  font-family: "GraphikLCG Regular";
  font-weight: 400;
  src: url("../fonts//GraphikLCG-Regular.woff2"); }

@font-face {
  font-family: "GraphikLCG Medium";
  font-weight: 500;
  src: url("../fonts/GraphikLCG-Medium.woff2"); }

@font-face {
  font-family: "GraphikLCG Medium";
  font-weight: 600;
  src: url("../fonts/GraphikLCG-Medium.woff2"); }

@font-face {
  font-family: "GraphikLCG Bold";
  font-weight: 700;
  src: url("../fonts/GraphikLCG-Bold.woff2"); }

@font-face {
  font-family: "GraphikLCG Black";
  font-weight: 800;
  src: url("../fonts/GraphikLCG-Black.woff2"); }